@import url("./variable.css");
/* ********************************************Header*********************************************** */
header {
  background: transparent;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
header #menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
  width: 100%;
}
@media (min-width: 1600px) {
  header #menu {
    gap: 1.3vw;
  }
}
header #menu li a {
  color: var(--dark);
  font-size: 1.06vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.5s all ease !important;
}
header #menu li a.logo_link {
  margin: 0px 2vw;
}
header #menu li.active a, header #menu li:hover a {
  color: var(--primary) !important;
}

/* ********************************************Why Choose Us*********************************************** */
.why_choose_us {
  background-image: url("../images/why-us/Lines.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--light);
  height: 100vh;
}
.why_choose_us .slide-container {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 14.666667vmin;
}
.why_choose_us .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 0vw;
}
@media (min-width: 1400px) {
  .why_choose_us .swiper {
    padding-bottom: 6vw;
  }
}
.why_choose_us .swiper .swiper-wrapper .swiper-slide {
  padding: 0 50px;
  background: transparent;
  height: 59vmin;
  border: 5px solid #000;
}
.why_choose_us .swiper .swiper-wrapper .swiper-slide .slider_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why_choose_us .swiper .swiper-wrapper .swiper-slide .slider_wrapper .slider_content {
  padding-top: 50px;
  transform: skew(355deg, 360deg);
}
.why_choose_us .swiper .swiper-wrapper .swiper-slide .slider_wrapper .slider_content .slider_title {
  color: var(--dark);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 2vw;
}
.why_choose_us .swiper .swiper-wrapper .swiper-slide .slider_wrapper .slider_content .slider_desc {
  color: var(--dark);
  margin-bottom: 0;
  text-align: center;
  font-size: 1.0221vw;
}
.why_choose_us .swiper .swiper-wrapper .swiper-slide-active {
  background: var(--primary);
  transform: translate3d(0px, 0px, 80px) rotateX(30deg) rotateY(-7deg) scale(1) !important;
  position: relative;
  z-index: 1;
  margin-right: 4vw;
}
.why_choose_us .swiper .swiper-wrapper .swiper-slide-active::before {
  background-image: url("../images/why-us/before.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  content: "";
  position: absolute;
  left: -44%;
  top: 7%;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.why_choose_us .swiper .swiper-wrapper .swiper-slide-active::after {
  background-image: url("../images/why-us/after.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  content: "";
  position: absolute;
  right: -28%;
  top: -4%;
  height: 100%;
  z-index: -1;
  width: 55%;
  transform: skew(355deg, 360deg);
}
.why_choose_us .swiper .swiper-wrapper .swiper-slide-active .slider_wrapper .slider_content .slider_title {
  color: var(--light);
}
.why_choose_us .swiper .swiper-wrapper .swiper-slide-active .slider_wrapper .slider_content .slider_desc {
  color: var(--light);
  margin-bottom: 0;
}
.why_choose_us .swiper .swiper-wrapper .swiper-slide-prev {
  transform: translate3d(-199.852px, 0px, -100px) rotateX(20deg) rotateY(20deg) scale(1) !important;
  background-image: url("../images/why-us/slide-prev.png");
  background-repeat: no-repeat;
  border: 0px;
  padding: 0 90px;
  height: 60vmin;
  background-size: contain;
}
@media (max-width: 1400px) {
  .why_choose_us .swiper .swiper-wrapper .swiper-slide-prev {
    height: 68vmin;
    background-size: contain;
  }
}
@media (min-width: 1500px) {
  .why_choose_us .swiper .swiper-wrapper .swiper-slide-prev {
    padding: 0 120px;
  }
}
@media (min-width: 1700px) {
  .why_choose_us .swiper .swiper-wrapper .swiper-slide-prev {
    padding: 0 158px;
  }
}
.why_choose_us .swiper .swiper-wrapper .swiper-slide-prev .slider_content {
  padding: 0 !important;
}
.why_choose_us .swiper .swiper-wrapper .swiper-slide-next {
  transform: translate3d(200px, 0px, -141.477px) rotateX(20deg) rotateY(-20deg) scale(1) !important;
  background-image: url("../images/why-us/slide-next.png");
  background-repeat: no-repeat;
  border: 0px;
  padding: 0 90px;
  height: 60vmin;
  background-size: contain;
}
@media (max-width: 1400px) {
  .why_choose_us .swiper .swiper-wrapper .swiper-slide-next {
    height: 70vmin;
    background-size: contain;
  }
}
.why_choose_us .swiper .swiper-wrapper .swiper-slide-next .slider_content {
  padding: 0 !important;
}

/* ********************************************Services*********************************************** */
.section_services {
  height: calc(100vh - 80px);
  padding-top: 12px;
}
@media (min-width: 1400px) {
  .section_services .horizontal-service-list {
    margin-top: 8.333333vmin;
  }
}
.section_services .slide-container {
  min-height: auto;
}
.section_services .slide-container {
  padding: 0;
}
.section_services .services-side1 {
  padding: 4vw 0;
  padding-bottom: 1.7vw;
  padding-left: 4vw;
}
.section_services .slide-body {
  margin-right: -15px;
  margin-left: -15px;
}
.section_services .slide-body .section_title {
  margin: 26px 11.5vw 26px 27px;
}
.section_services .slide-body .services-swiper .swiper-wrapper {
  padding-bottom: 2vw;
}
@media (min-width: 1400px) {
  .section_services .slide-body .services-swiper .swiper-wrapper {
    padding-bottom: 4vw;
  }
}
.section_services .slide-body .services-swiper .custom-prev {
  left: 43.5%;
  width: 50px;
  height: 50px;
}
.section_services .slide-body .services-swiper .custom-next {
  right: 39.5%;
  width: 50px;
  height: 50px;
}
.section_services .slide-body .horizontal-service-item.item_comic {
  background: #4b9388;
  background-image: url("../images/services/service-bg.png");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}
.section_services .slide-body .horizontal-service-item-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4vw 4vw;
  width: 100%;
  margin-left: 0;
  padding: 4vw 4vw;
  background: var(--light);
}
.section_services .slide-body .horizontal-service-item-list .horizontal-service-item {
  min-height: 15.2vw;
  transition: all 200ms ease-in-out;
}
.section_services .slide-body .horizontal-service-item-list .horizontal-service-item .horizontal-service-item-photo {
  background: #4b9388;
  background-image: url("../images/services/service-bg.png");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
  display: flex !important;
  justify-content: end;
  height: 100%;
}
.section_services .slide-body .horizontal-service-item-list .horizontal-service-item .horizontal-service-item-photo img {
  width: 82%;
  margin: 0 auto;
}
.section_services .slide-body .horizontal-service-item-list .horizontal-service-item .horizontal-service-item-photo.box-shadow-box {
  color: var(--dark);
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.075em;
  padding: 0.8em 1em;
  margin: auto 2em;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  z-index: 1;
  box-shadow: -0.5em 0.5em rgba(0, 0, 0, 0);
  transform-origin: left bottom;
  transition: all 200ms ease-in-out;
}
.section_services .slide-body .horizontal-service-item-list .horizontal-service-item .horizontal-service-item-photo.box-shadow-box:before, .section_services .slide-body .horizontal-service-item-list .horizontal-service-item .horizontal-service-item-photo.box-shadow-box:after {
  border: 3px var(--dark) solid;
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}
.section_services .slide-body .horizontal-service-item-list .horizontal-service-item .horizontal-service-item-photo.box-shadow-box:before {
  content: "";
  -o-border-image: linear-gradient(45deg, var(--dark) 0%, var(--dark) 100%);
  border-image: linear-gradient(45deg, var(--dark) 0%, var(--dark) 100%);
  border-image-slice: 1 1 0 1;
  left: -2.3em;
  top: 1.1111em;
  width: 2.31em;
  height: 100%;
  transform: skewY(-45deg);
  background: var(--dark);
}
.section_services .slide-body .horizontal-service-item-list .horizontal-service-item .horizontal-service-item-photo.box-shadow-box:after {
  content: "";
  -o-border-image: linear-gradient(45deg, var(--dark) 0%, var(--dark) 100%);
  border-image: linear-gradient(45deg, var(--dark) 0%, var(--dark) 100%);
  border-image-slice: 1 1 1 0;
  bottom: -2.3em;
  right: 1.1em;
  width: 100.4%;
  height: 2.31em;
  transform: skewX(-45deg);
  background: var(--dark);
}
.section_services .slide-body .horizontal-service-item-list .horizontal-service-item .horizontal-service-item-title h2 {
  color: var(--light);
  font-family: var(--secondary-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  z-index: 1111;
  text-align: center;
  margin-left: 3vw;
  padding-top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: all 200ms ease-in-out;
}
.section_services .slide-body .horizontal-service-item-list .horizontal-service-item:hover .box-shadow-box {
  transform: translate(0.5em, -0.5em);
  box-shadow: -3em 3em 1.15em rgba(0, 0, 0, 0.28);
  border-image-slice: 1;
  background-color: #4b9388;
  background-size: 120%;
  margin: auto 0em;
}
.section_services .slide-body .horizontal-service-item-list .horizontal-service-item:hover .box-shadow-box:before {
  background-image: linear-gradient(45deg, var(--dark) 0%, var(--dark) 100%);
  border-image-slice: 1;
}
.section_services .slide-body .horizontal-service-item-list .horizontal-service-item:hover .box-shadow-box:after {
  background-image: linear-gradient(45deg, var(--dark) 0%, var(--dark) 100%);
  border-image-slice: 1;
}
.section_services .slide-body .horizontal-service-item-list .horizontal-service-item:hover .horizontal-service-item-title h2 {
  margin-left: 0vw;
  padding-top: 0px;
}

/* ********************************************Video popup*********************************************** */
.video-popup {
  right: -100%;
  left: inherit;
  transition: 0.7s all ease;
}
.video-popup .modal-content {
  padding: 0;
  border: 0;
}
.video-popup .modal-content .modal-body {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}
.video-popup .modal-content .modal-body video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: fixed;
  top: 0;
  left: 0;
}
.video-popup .modal-content .skip-button {
  border: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 7px 15px;
  z-index: 6;
  background: var(--primary);
  color: var(--light);
  display: none;
}
.video-popup .modal-content .skip-button.show-skip {
  display: block !important;
}
.video-popup.show {
  left: inherit;
  right: 0;
}

.modal-backdrop.show {
  display: none;
}

/* ********************************************Case Study*********************************************** */
.case {
  width: 100%;
  background-image: url(../images/casestudy/bg.png);
}
.case .slide-container {
  padding-top: 14.666667vmin;
}
.case .casestudy_row {
  gap: 3vw 0px;
  padding-top: 7vw;
}
.case .casestudy_row .box-1 {
  display: flex;
  justify-content: center;
  gap: 1.5vw;
  transform: translate(0px, 0px);
  transition: all 200ms ease-in-out;
}
.case .casestudy_row .box-1 .img-box {
  height: 300px;
  width: 300px;
  position: relative;
  border-radius: 1px;
  border: 3px solid var(--dark-alt3);
  width: 40%;
  transition: all 200ms ease-in-out;
}
.case .casestudy_row .box-1 .img-box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  transform: none;
  transition: all 200ms ease-in-out;
}
.case .casestudy_row .box-1 .img-box .slice {
  width: 190%;
  padding: 5px 10px;
  background-color: var(--primary);
  position: absolute;
  bottom: 20%;
  z-index: 1;
}
@media only screen and (max-width: 600px) {
  .case .casestudy_row .box-1 .img-box .slice {
    width: 300px;
  }
}
.case .casestudy_row .box-1 .img-box .slice h3 {
  color: var(--light);
  font-family: var(--secondary-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}
.case .casestudy_row .box-1 .img-box .slice_2 {
  width: 130%;
  padding: 7.09px 237.004px 6.91px 10px;
  background-color: var(--light);
  border: 1px solid var(--primary);
  position: absolute;
  bottom: 9%;
  transform: translateY(0%);
  transition: ease-in-out 0.5s;
}
.case .casestudy_row .box-1 .img-box .slice_2 p {
  color: var(--dark-alt3);
  font-size: 14.085px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.54px;
  margin-bottom: 0px !important;
}
.case .casestudy_row .box-1 .msg {
  position: relative;
  width: 54%;
  padding: 0px;
  height: 175px;
}
.case .casestudy_row .box-1 .msg::before {
  content: "";
  background-color: #f0fbf9;
  border-radius: 20px;
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: skew(-8deg, -3deg);
}
.case .casestudy_row .box-1 .msg::after {
  content: url(../images/casestudy/df.svg);
  position: absolute;
  bottom: -47px;
  left: 10px;
  z-index: 111;
}
.case .casestudy_row .box-1 .msg p {
  color: var(--dark-alt2);
  font-weight: 500;
  line-height: 1.45;
  position: relative;
  padding: 25px 32px;
  z-index: 11111;
  font-size: 15px;
}
.case .casestudy_row .box-1:hover {
  transform: translate(10px, -10px);
}
.case .casestudy_row .box-1:hover .img-box .slice_2 {
  transform: translateY(-103%);
}

/* ********************************************Cliental*********************************************** */
.section_clientel .slide-container {
  padding-top: 14.666667vmin;
}
.section_clientel .multiple.multiple-items-2 {
  padding-bottom: 0;
}
.section_clientel .multiple .slide-container {
  padding-top: 14.666667vmin;
}
.section_clientel .multiple .partner-item {
  position: relative;
  padding: 0px 0;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 0 20px; */
  padding: 6px 12px;
}
.section_clientel .multiple .partner-item .column {
  height: 12vw;
  width: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/clientele/v1.png");
  background-repeat: no-repeat;
  padding: 1.8vw;
  background-size: 100%;
  filter: drop-shadow(0px 0px px transparent);
  transition: all 200ms ease-in-out;
}
.section_clientel .multiple .partner-item .column:hover {
  filter: drop-shadow(10px 11px 2px rgba(0, 0, 0, 0.1490196078));
  transform: translate(8px, 4px);
}
.section_clientel .multiple .partner-item a {
  height: 100%;
  width: 100%;
  border: var(--primary) 1px dotted;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_clientel .multiple .partner-item img a {
  height: 100%;
}

/* ********************************************Feedback*********************************************** */
.section_feedback {
  height: calc(100vh - 80px);
  padding-top: 12px;
  background-image: url("../images/feedback/Lines.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section_feedback .slide-container {
  padding-top: 0;
  padding-bottom: 0;
  min-height: auto;
}
.section_feedback .feedback_title {
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 999;
}
.section_feedback .feedback_title .section_title {
  width: 35vw;
}
.section_feedback .feedback_title .section_title::before {
  height: 116%;
}
.section_feedback .feedback_title .section_title::after {
  width: 101.1%;
}
.section_feedback .swiper {
  height: 90vh;
  padding: 80px 0;
}
.section_feedback .swiper .swiper-slide .feedback_wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}
.section_feedback .swiper .swiper-slide .feedback_wrapper .feedback_background {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}
.section_feedback .swiper .swiper-slide .feedback_wrapper .feedback_background .bg-image-feedback {
  background-color: rgb(37, 104, 98);
  background-image: url(../images/feedback/bg-feedback.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
}
.section_feedback .swiper .swiper-slide .feedback_wrapper .feedback_background .bg-image-feedback .author_image {
  border-radius: 180px;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}
.section_feedback .swiper .swiper-slide .feedback_wrapper .feedback_background .bg-image-feedback .overlay-bg {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
.section_feedback .swiper .swiper-slide .feedback_wrapper .feedback_background .bg-image-feedback .overlay-bg .bggg_image {
  height: 100%;
  width: 100%;
  animation: spin 6s linear infinite;
  transform: scale(3);
}
@keyframes spin {
  0% {
    transform: rotate(0deg) scale(2);
  }
  50% {
    transform: rotate(180deg) scale(5);
  }
  100% {
    transform: rotate(360deg) scale(2);
  }
}
.section_feedback .swiper .swiper-slide .feedback_wrapper .feedback_desc {
  position: absolute;
  bottom: 0;
  right: 2%;
  width: 40%;
}
.section_feedback .swiper .swiper-slide .feedback_wrapper .feedback_desc .section_title {
  width: 27vw;
  height: 14vw;
  padding: 0em 1.5em;
  text-align: left;
  transition: all 200ms ease-in-out;
  transform: none;
}
.section_feedback .swiper .swiper-slide .feedback_wrapper .feedback_desc .section_title::before {
  height: 109%;
}
.section_feedback .swiper .swiper-slide .feedback_wrapper .feedback_desc .section_title::after {
  width: 104%;
}
.section_feedback .swiper .swiper-slide .feedback_wrapper .feedback_desc .section_title .title_text {
  color: #151515;
  font-family: var(--primary-font);
  -webkit-text-stroke: 0px;
  font-size: 1vw !important;
  font-style: normal;
  font-weight: 600;
  line-height: 1.45;
  letter-spacing: 0 !important;
  text-transform: capitalize;
}
.section_feedback .swiper .swiper-slide .feedback_wrapper .feedback_img {
  position: absolute;
  right: 18%;
  top: 10%;
}
.section_feedback .swiper .swiper-slide .feedback_wrapper .feedback_img img {
  width: 150px;
}

/* ********************************************Our story*********************************************** */
.our-story .slide-container {
  height: calc(100vh - 80px);
  padding-top: 100px;
  display: flex;
  align-items: center;
}
.our-story .imgs img {
  height: 100%;
  width: 100%;
}
.our-story .content {
  padding: 30px;
  height: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.our-story .content .section_title {
  margin: 0 0 5vw;
}
.our-story .content h3 {
  font-size: 2.29999vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.2vw;
}
.our-story .social-link .follow {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.our-story .social-link .follow::before {
  content: "";
  position: relative;
  width: 40%;
  height: 3px;
  background-color: var(--dark);
  margin-right: 25px;
}
.our-story .social-link .follow::after {
  content: "";
  position: relative;
  width: 12.6%;
  height: 3px;
  background-color: var(--dark);
}
.our-story .social-link .follow h2 {
  color: var(--dark-alt2);
  font-size: 1.1vw;
  margin-right: 10px;
  font-weight: 600;
}
.our-story .social-link .follow .point {
  display: flex;
  position: absolute;
  width: 100%;
  top: 36%;
}
.our-story .social-link .follow .point .points {
  height: 20px;
  width: 2px;
  display: block;
  background-color: var(--dark);
  position: absolute;
}
.our-story .social-link .follow .point .points.points1 {
  left: 0;
}
.our-story .social-link .follow .point .points.points2 {
  left: 100px;
}
.our-story .social-link .follow .point .points.points3 {
  right: 4px;
}

/* ********************************************Contact Us*********************************************** */
.contact-us {
  background: var(--light);
  padding: 40px 0;
}
.contact-us .section_title {
  margin-bottom: 60px;
}
.contact-us .information {
  position: relative;
}
.contact-us .contact-form {
  background: #1b2a2f;
  border-radius: 6px;
  padding: 30px;
  padding-right: 150px;
  padding-bottom: 65px;
  position: relative;
  margin-right: 50px;
}
.contact-us .contact-form .primary-btn {
  background-color: var(--primary);
  color: var(--light);
  min-width: 112px;
  height: 40px;
  margin-top: 15px;
  transition: 0.5s all ease;
}
.contact-us .contact-form .primary-btn::before {
  border: 2px solid var(--light);
  border-right-color: transparent;
}
.contact-us .contact-form .primary-btn::after {
  border: 2px solid var(--light);
  border-left-color: transparent;
}
.contact-us .contact-form h4 {
  color: var(--light);
  font-size: 2vw;
  font-weight: 600;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .contact-us .contact-form h4 {
    font-size: 24px;
  }
}
.contact-us .contact-form .form {
  position: relative;
  z-index: 5;
}
.contact-us .contact-form .form .form-select {
  border-radius: 5px;
  padding: 0.625rem 1.25rem 0.625rem;
  height: calc(1.5em + 1.25rem + 2px);
  width: 100%;
}
.contact-us .contact-form .form .form-control {
  border-radius: 5px;
}
.contact-us .contact-form .form .form-control:focus {
  outline: 0;
  border: 0;
  box-shadow: none;
}
.contact-us .contact-form .curly {
  display: flex;
  gap: 0;
  position: absolute;
  bottom: -30px;
  left: 0;
}
.contact-us .contact-form .curly span {
  display: inline-block;
  height: 60px;
  width: 35px;
  border-radius: 70px;
}
.contact-us .contact-form .curly span:nth-child(4) {
  top: 15px;
  position: relative;
}
.contact-us .contact-form .curly span:nth-child(8) {
  top: 10px;
  position: relative;
}
.contact-us .contact-form .curly span:nth-child(odd) {
  background: #1b2a2f;
  animation: curls 1.4s infinite alternate;
}
.contact-us .contact-form .curly span:nth-child(even) {
  background: rgb(255, 255, 255);
  animation: curls-even 1.4s infinite alternate;
}
.contact-us .info-sec {
  position: absolute;
  right: 0;
  width: 30%;
  bottom: -7%;
}
@media (min-width: 1600px) {
  .contact-us .info-sec {
    width: 35%;
  }
}
.contact-us .info-sec h3 {
  color: #1b776f;
  font-size: 1.3vw;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 70px;
  display: inline-block;
  border: 1px solid var(--primary);
  padding: 13px 23px;
  background: var(--light);
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .contact-us .info-sec h3 {
    font-size: 18px;
  }
}
.contact-us .info-sec .main-info-card {
  position: relative;
}
.contact-us .info-sec .info-card {
  padding: 20px;
  background: #1b776f;
  border-radius: 6px 6px 0 0;
  position: relative;
  border: 1px solid #000;
  border-bottom: 0;
  padding-top: 40px;
}
.contact-us .info-sec .info-card .info {
  display: flex;
  align-items: start;
  gap: 20px;
  margin-bottom: 30px;
}
.contact-us .info-sec .info-card .info .icon svg {
  width: 20px;
}
.contact-us .info-sec .info-card .info .in-info p {
  color: var(--light);
}
.contact-us .info-sec .info-card .info .in-info p a {
  color: var(--light);
}
.contact-us .info-sec .curl-image {
  position: absolute;
  bottom: -22%;
  width: 100%;
  left: 0;
  z-index: -1;
  animation: curls 1.4s infinite alternate;
}
.contact-us .info-sec .curl-image img {
  width: 100%;
}
.contact-us .social-icons {
  margin-top: 60px;
}
@media (min-width: 1600px) {
  .contact-us .social-icons {
    margin-top: 110px;
  }
}
.contact-us .social-icons h2 {
  text-transform: uppercase;
}
@keyframes curls {
  from {
    transform: translateY(1px);
  }
  to {
    transform: translateY(-1px);
  }
}
@keyframes curls-even {
  from {
    transform: translateY(-1px);
  }
  to {
    transform: translateY(1px);
  }
}

/* ********************************************Footer*********************************************** */
.footer {
  background: #162b29;
  padding-top: 100px;
}
.footer .slide-container {
  position: relative;
}
.footer .slide-container .section_title {
  width: -moz-fit-content;
  width: fit-content;
  height: 5vw;
  padding: 0 1vw;
  margin: auto auto;
  border: 1px solid #000000;
}
.footer .slide-container .section_title:before {
  content: "";
  -o-border-image: linear-gradient(45deg, #1b776f 0%, #1b776f 100%);
  border-image: linear-gradient(45deg, #1b776f 0%, #1b776f 100%);
  left: -0.59em;
  top: 0.2em;
  width: 0.5em;
  height: 102%;
  transform: skewY(-45deg);
  background: var(--primary);
}
.footer .slide-container .section_title:after {
  content: "";
  -o-border-image: linear-gradient(45deg, #1b776f 0%, #1b776f 100%);
  border-image: linear-gradient(45deg, #1b776f 0%, #1b776f 100%);
  bottom: -0.5em;
  right: 0.2em;
  width: 100.2%;
  height: 0.31em;
  transform: skewX(-45deg);
  background: var(--primary);
}
.footer .slide-container .section_title .title_text {
  color: var(--dark-alt2);
  font-family: var(--komikaBrush-font);
  font-size: 2.2vw !important;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 1600px) {
  .footer .slide-container .section_title .title_text {
    font-size: 2vw !important;
  }
}
.footer .slide-container .contact {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.footer .slide-container .contact .footer-logo {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 4.8vw;
  transform: skewY(4deg);
}
.footer .slide-container .contact .footer-logo .logo {
  position: absolute;
  top: 77px;
  left: 192px;
}
@media (min-width: 1600px) {
  .footer .slide-container .contact .footer-logo .logo {
    top: 127px;
  }
}
.footer .slide-container .contact .main-sidebox {
  margin-top: 150px;
  display: flex;
}
.footer .slide-container .contact .main-sidebox .contact-us {
  background-color: var(--light);
  padding: 2vw 4vw 5vw 3vw;
  -webkit-clip-path: polygon(0 1%, 84% 0, 100% 95%, 0 88%);
          clip-path: polygon(0 1%, 84% 0, 100% 95%, 0 88%);
  position: relative;
}
.footer .slide-container .contact .main-sidebox .contact-us:before {
  content: "";
  position: absolute;
  width: 11.049px;
  height: 100%;
  background: #e7e7e7;
  left: 0;
  top: 1vw;
}
.footer .slide-container .contact .main-sidebox .contact-us:after {
  content: "";
  position: absolute;
  width: 97%;
  height: 23.049px;
  background: #e7e7e7;
  left: 0;
  bottom: 5%;
  transform: skewY(3deg);
}
.footer .slide-container .contact .main-sidebox .contact-us .heading_top {
  display: flex;
  gap: 2vw;
  align-items: center;
  margin-bottom: 20px;
}
.footer .slide-container .contact .main-sidebox .contact-us .heading_top h3 {
  color: #212121;
  font-family: var(--komikaPaint-font);
  font-size: 19.889px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.994px;
}
.footer .slide-container .contact .main-sidebox .contact-us .heading_top h3 img {
  margin-left: 20px;
}
.footer .slide-container .contact .main-sidebox .contact-us .heading_top .arrow_icon .img2 {
  position: relative;
  animation: img_flow 1.5s infinite alternate;
}
@keyframes img_flow {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(-10px);
  }
}
.footer .slide-container .contact .main-sidebox .contact-us .heading_top .arrow_icon .img3 {
  position: relative;
  animation: img_flow2 1.5s infinite alternate;
}
@keyframes img_flow2 {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(-20px);
  }
}
.footer .slide-container .contact .main-sidebox .contact-us ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .slide-container .contact .main-sidebox .contact-us ul li a {
  color: #151515;
  font-size: 1.19vw;
  font-style: normal;
  font-weight: 500;
  line-height: 1.45;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  transition: all 200ms ease-in-out;
}
.footer .slide-container .contact .main-sidebox .contact-us ul li a span {
  background: var(--primary);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  filter: none;
  transform: none;
  transition: all 200ms ease-in-out;
}
.footer .slide-container .contact .main-sidebox .contact-us ul li a span:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5789 0C13.3077 5.85383 7.03041 10.8721 0 14.8155L24.2944 24L18.5789 0Z' fill='%231B776F'/%3E%3C/svg%3E");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
  transform: none;
  transition: all 200ms ease-in-out;
}
.footer .slide-container .contact .main-sidebox .contact-us ul li a span svg {
  z-index: 1;
}
.footer .slide-container .contact .main-sidebox .contact-us ul li:hover a {
  color: #1b776f;
}
.footer .slide-container .contact .main-sidebox .contact-us ul li:hover a span {
  filter: drop-shadow(3px 4px 5px rgba(0, 0, 0, 0.4784313725));
  transform: translate(2px, -5px);
}
.footer .slide-container .contact .main-sidebox .service {
  background-color: var(--light);
  padding: 2vw 13vw 5vw 7vw;
  margin-left: -44px;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 16% 95%);
          clip-path: polygon(0% 0%, 100% 0, 100% 100%, 16% 95%);
  background-image: url(./../images/footer/light.png);
  background-repeat: no-repeat;
  background-position-x: 258px;
  background-position-y: 152px;
  position: relative;
}
@media (min-width: 1600px) {
  .footer .slide-container .contact .main-sidebox .service {
    width: 32rem;
  }
}
.footer .slide-container .contact .main-sidebox .service:before {
  content: "";
  position: absolute;
  width: 11.049px;
  height: 100%;
  background: #e7e7e7;
  left: 2.6vw;
  top: 1vw;
  transform: skewX(12deg);
}
.footer .slide-container .contact .main-sidebox .service:after {
  content: "";
  position: absolute;
  width: 97%;
  height: 11.049px;
  background: #e7e7e7;
  left: 0;
  bottom: 4%;
  transform: skewY(3deg);
}
.footer .slide-container .contact .main-sidebox .service .heading_top {
  display: flex;
  gap: 2vw;
  align-items: center;
  margin-bottom: 20px;
}
.footer .slide-container .contact .main-sidebox .service .heading_top h3 {
  color: #212121;
  font-family: var(--komikaPaint-font);
  font-size: 19.889px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.994px;
}
.footer .slide-container .contact .main-sidebox .service .heading_top h3 img {
  margin-left: 20px;
}
.footer .slide-container .contact .main-sidebox .service .d-flex {
  height: 100%;
}
.footer .slide-container .contact .main-sidebox .service .d-flex ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .slide-container .contact .main-sidebox .service .d-flex ul li {
  margin-top: 10px;
  transform: none;
  transition: all 200ms ease-in-out;
}
.footer .slide-container .contact .main-sidebox .service .d-flex ul li svg {
  margin-right: 10px;
}
.footer .slide-container .contact .main-sidebox .service .d-flex ul li a {
  color: #151515;
  font-family: Inter;
  font-size: 19.889px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s linear;
}
.footer .slide-container .contact .main-sidebox .service .d-flex ul li:hover {
  transform: translateX(10px);
}
.footer .slide-container .contact .main-sidebox .service .d-flex ul li:hover a {
  color: #1b776f;
}
.footer .slide-container .contact .main-sidebox .service .d-flex .light {
  padding: 0 20px 20px;
  display: flex;
  align-items: flex-end;
}
.footer .slide-container .footer-social {
  background-color: var(--light);
  display: flex;
  align-items: center;
  padding: 20px;
  padding-bottom: 8px;
  -webkit-clip-path: polygon(0 0, 100% 80%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 80%, 100% 100%, 0 100%);
  margin-top: -45px;
  position: relative;
  border-left: 4px solid var(--primary);
  border-right: 2px solid var(--primary);
}
.footer .slide-container .footer-social::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background: var(--primary);
  left: 0;
  top: 2.5vw;
  transform: skewY(3deg);
  z-index: 999999;
}
.footer .slide-container .footer-social::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--primary);
  left: 0;
  bottom: -0.1vw;
  transform: skewY(0deg);
  z-index: 999999;
}
.footer .slide-container .footer-social h2 {
  margin-bottom: 0;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.footer .slide-container .footer-social ul li {
  display: inline-flex;
}
.footer .slide-container .footer-social ul li .cloud {
  width: 5vw;
}
.footer .slide-container .footer-social ul li .s-icon {
  width: 1.4vw;
}
.footer .slide-container .copyright {
  padding: 2vw 0;
  text-align: center;
}
.footer .slide-container .copyright p {
  color: var(--light);
  font-size: 1.222vw;
  font-style: normal;
  font-weight: normal;
  line-height: 1.45;
}
.footer .slide-container .copyright p a {
  color: var(--light);
}
.footer .slide-container .sideimg {
  position: absolute;
  top: -50px;
  right: 0;
  height: 185px;
  animation: fogAnimation 2s linear 1s forwards alternate;
}
.footer .slide-container .sideimg img {
  height: 100%;
}
.footer .slide-container .light-bg {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.footer .slide-container .light-bg figure {
  overflow-y: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  height: 634px;
  width: 100%;
}
.footer .slide-container .light-bg figure img {
  position: absolute;
  top: -400px;
  display: block;
  opacity: 0.07;
  transition: all 0.3s linear;
  animation: rotation 6s linear infinite;
  transform: scale(2);
}
@keyframes rotation {
  0% {
    transform: rotate(0deg) scale(2);
  }
  50% {
    transform: rotate(180deg) scale(5);
  }
  100% {
    transform: rotate(360deg) scale(2);
  }
}

#header.header-fixed.scrolled {
  background-color: #fff !important;
  box-shadow: 1px 5px 9px 1px rgba(0, 0, 0, 0.33);
}

@keyframes fogAnimation {
  from {
    transform: scale(0.7) translateX(120%);
  }
  to {
    transform: scale(1) translateX(0%);
  }
}
body.footer-view #header.header-fixed.scrolled {
  background-color: #162b29 !important;
}
body.footer-view #menu li a {
  color: var(--light);
}

.home-horizontal .partner-list {
  margin-top: 10.481481vmin;
  margin-bottom: 4vmin;
}

.section_clientel .slide-container {
  padding-top: 19.666667vmin;
  height: calc(100vh - 80px);
}/*# sourceMappingURL=main.css.map */